- name: install python
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - python3 
  - gcc 
  - python3-devel

- name: create system user roboshop
  ansible.builtin.user:
    name: roboshop
    system: true
    home: /app
    shell: /sbin/nologin
    comment: "Roboshop system user"

- name: delete app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: delete payment zip file
  ansible.builtin.file:
    path: /tmp/payment.zip
    state: absent

- name: download payment
  ansible.builtin.get_url:
    url: https://roboshop-artifacts.s3.amazonaws.com/payment-v3.zip 
    dest: /tmp/payment.zip

- name: unarchieve payment
  ansible.builtin.unarchive:
    src: /tmp/payment.zip
    dest: /app
    remote_src: yes

- name: install dependencie
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app

- name: copy payment service
  ansible.builtin.template:
    src: payment.sevice
    dest: /etc/systemd/system/payment.service

- name: daemon reload
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: start enable payment
  ansible.builtin.service:
    name: payment
    state: restarted
    enabled: yes