- name: app-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app_setup.yaml

- name: nodejs setup
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs_setup.yaml
     