- name: install python
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - python3 
  - gcc 
  - python3-devel

  - name: install dependencie
    ansible.builtin.pip:
      requirements: requirements.txt
      executable: pip3.9
    args:
      chdir: /app
- name: restart python
  ansible.builtin.systemd_service:
    name: payment
    state: restarted